
{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" id="carouseIndex">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
{#                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
            </ol>
            <div class="carousel-inner" role="listbox" style="height: 480px">
                <div class="carousel-item active">
                  <img class="d-block img-fluid" src="{% static "image/logo480x480.png" %}" alt="First slide" style="position:relative;left:5%;">
                    <div class="carousel-caption d-none d-md-block"style="bottom: 35%">
                        <h1 style="color:black;position:relative;left:30%" class="display-4">
                            WHY&nbsp&nbspBE&nbsp&nbspAN<br><strong>ENGINEER?</strong></h1>
                    </div>
                </div>
{#                <div class="carousel-item">#}
{#                  <img class="d-block img-fluid" src="{% static "image/logo480x480.png" %}" alt="Second slide">#}
{#                </div>#}
            </div>
        </div>
        <div class="card-deck" >
          <div class="card" >
            <img class="card-img-top" src="{% static "image/mqtt.png" %}" alt="Card image cap" style="width: 200px;height: 50px">
            <div class="card-block">
              <h4 class="card-title">MQTT</h4>
              <p class="card-text">We realized a mqtt broker based on golang,making full use of go coroutine for performance,use websocket can query online session in real time,subscrbing adn publishing topic.</p>
                <a href="{% url "mqtt" %}" class="btn btn-primary">Go MQTT</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{% static "image/espressif.png" %}" alt="Card image cap" style="height: 50px;width: 160px">
            <div class="card-block">
              <h4 class="card-title">ESP32-EVK-BOARD</h4>
              <p class="card-text">ESP32-EVK is a esp32 evaluation board,which contain a Hi-Fi codec and a ethernet phy.Anybody can use the board to implement funny things.</p>
                <a href="/esp32" class="btn btn-primary">Go ESP32</a>
            </div>
          </div>
        </div>
        <div>
            <blockquote class="blockquote">
                <p class="mb-2">They are the geeks. They are the nerds. They are the kids who are last picked for the team. They build robots. They join the math club. They watch “Star Trek” (even the ones from the ‘70’s). They are socially awkward.
They are engineers.And I wish I was one.</p>
                <footer class="blockquote-footer">By <cite title="Source Title">Gene Marks</cite>, Fork By<cite title="Source Title"> Frankie</cite></footer>
            </blockquote>
        </div>
    </div>
    <script>
        $("#carouselExampleIndicators #carouseIndex .active").css("background","black");
        $("#carouselExampleIndicators #carouseIndex .active").nextAll().css("background","gray");
        $('#carouselExampleIndicators').on('slid.bs.carousel', function () {
            $("#carouselExampleIndicators #carouseIndex .active").siblings().css("background","gray");
            $("#carouselExampleIndicators #carouseIndex .active").css("background","black");
        })
    </script>
{% endblock %}
